@import "tailwindcss";
@media screen and (max-width: 1023px) {
    body {
      padding-top: 66px;
    }
  }
  
  :root {
    --font-family: 'Jost', Arial, sans-serif;
  }
  
  * {
    font-family: inherit;
  }